.events-wrapper {
    background-color: $light;
    padding-left: 1em;
    padding-right: 1em;
    margin-left: 2em;
    float: right;
    
    $dt-font-size : 0.75 * $base-font-size;
    font-size: $dt-font-size;

    text-align: center;

    dl { max-width: 20em; }
    dt { 
	text-align: right;
	@include v-margin(rhythm(1, $dt-font-size), 0); 
    }
    dd {
	@include v-margin(rhythm(0, $dt-font-size), 0);
	font-size: $dt-font-size;
	text-align: right;
	margin-left: 0; 
	max-width: 20em;
    }
    
    ul {
	@include v-margin(0);
	list-style-type: none;
    }

    p { @include v-margin(rhythm(1, $dt-font-size), 0); }
}
