.news-wrapper {
    background-color: $light;

    padding: 0 2em;
    max-width: 50%;
    float: top;

    text-align: center;

    dl {
	text-align: left;
    }
    
    dt, dd { display: inline; }
    dt {
	font-weight: bold;
    }
    dd:after{
	content: "\A\A";
	white-space: pre;
    }
}
