
$debug: false;

@import "Constants";
@import "Rhythm";
@import "CSS";

/******************************************************/

body {
  line-height: rhythm();
  @include debug-rhythm();

  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}

$h1-font-size : 2.0 * $base-font-size;
$h2-font-size : 1.5 * $base-font-size;
$h3-font-size : 1.25 * $base-font-size;
$h4-font-size : 1 * $base-font-size;
$h5-font-size : 0.9 * $base-font-size;
$h6-font-size : 0.7 * $base-font-size;

$tiny-font-size: 0.5 * $base-font-size;


h1 {
  @include v-margin(rhythm(1, $h1-font-size));
  font-size: $h1-font-size;
}
h2 {
  @include v-margin(rhythm(1, $h2-font-size));
  font-size: $h2-font-size;
}
h3 {
  @include v-margin(rhythm(1, $h3-font-size));
  font-size: $h3-font-size;
}
h4 {
  @include v-margin(rhythm(1, $h4-font-size));
  font-size: $h4-font-size;
}
h5 {
  @include v-margin(rhythm(1, $h5-font-size));
  font-size: $h5-font-size;
}
h6 {
  @include v-margin(rhythm(1, $h6-font-size));
  font-size: $h6-font-size;
}

h1, h2, h3 {
  @include v-margin(rhythm);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: normal;
}

h3.inline {
  display: run-in;
  font-size: 1em;

  // '&' names parent selector
  &:after {
    content: ". ";
    font-weight: normal;
  }
}

p {
  @include v-margin(rhythm());
}


ul, ol, dl {
  @include v-margin(rhythm());
  padding-left: 0;
}

a {
  color: rgb(62, 121, 238);
  font-weight: bold;
  text-decoration: none;
  padding: 0 1px;

  &:hover {
    color: rgb(32, 83, 185);
    text-decoration: none;
  }
}


header {
  position: fixed;
  background: #fff;
  z-index: 1000;
}

header, footer {
  width: 100%;

  ul { margin: 0; }
  ul li { 
    display: inline;
    @include v-margin(rhythm());
  }
}

footer {
  border-top: 1px solid #efefef;
  margin-top: -1px; /* to offset border-top */
  height: rhythm(6);
  ul { float: right; }
  ul li {
    &:after {
      color: $footer-grey;
      content: "  \00b7  ";
    }
    &:last-child:after { content: ""; }
    &:last-child:before { content: "  "; }
  }
  a { 
    font-weight: normal;
    font-size: smaller;
    color: $footer-grey;
    &:hover {
      color: $footer-grey-hover;
    }
  }

  /* Had to add this to clear .event-wrapper. Remove with caution */
  clear: both;
}

select {
  height: rhythm();
  border-color: $footer-grey;
}

tr { text-align: left; }
th { padding-right: 1em; }
td { padding-right: 1em; }

table { 
  width: 100%; 
  border-collapse: collapse; 
  border-spacing: 0; 

}

tr, th, td {
  font-size: $h6-font-size;
}

ul { list-style-type: none; }


/************************************/

.down-arrow { font-size: $tiny-font-size; }


.inline { display: inline; }
.hero { 
  color: #444;
  font-size: $h2-font-size;
  line-height: rhythm(1, $h2-font-size / 2);
}


/************************************/



.menu {
  height: rhythm(3);

  .logo-wrapper {
    width: 300px;
    background:url("../img/cs_logo2.png") no-repeat;
    height: 100%;
    float: left;
  }

  .menu-nav-list { 
    float: right;

    a { 
      float: left;
      padding: rhythm() rhythm()*2/3;
    }
  }
}

.menu-nav-list li { display: none; }

.submenu {
  height: rhythm();
  margin-top: -2px; /* to offset the border effect */
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;

  nav { float: left; }
}


.events-wrapper {
  $dt-font-size: $base-font-size * 0.8;  
  dt, dd { font-size: $dt-font-size; }
  dt { @include v-margin(rhythm(1, $dt-font-size), 0); }
  dd {
    @include v-margin(rhythm(0, $dt-font-size), 0);
    margin-left: 0; 
  }
  ul { @include v-margin(0); }
}


.news-wrapper {
  border-top: 1px solid $dark-green;
  margin-top: -1px; /* to offset border-top */

  dt, dd { display: inline; margin: 0; }

  dt {
    font-weight: bold;
    &:after { content: ". "; }
  }

  dd:after{
    content: "\A\A";
    white-space: pre;
  }
}

.course-schedule-table, .admissions-table {
  font-size: $h6-font-size;
  ul { margin: 0; padding: 0; }
  li { display: inline-block; }
}

.course-schedule-table {
  li { margin: 0; padding: 0;}
  .row { @include v-margin(0); padding: 0;}
  .description { max-height: rhythm(3); overflow: hidden;}
  .close-more { display: none; }
  .column, .columns { @include v-margin(0); }
}

.admissions-wrapper {
  $list-margin: 50px;
  $sub-list-margin: 20px;
  $dt-font-size: $base-font-size * 0.8;
  dt {
    font-weight: bold; 
  }
  dd {
    margin-left: 0; 
  }  
  .five.columns:after {
    content: "\A\A";
    white-space: pre;  
  } 
  section {
    clear: both;
    display: block;
  } 
  ul {
    @include v-margin(0);
    list-style-type: square;
    margin-left: $list-margin;
  }
  ol {
    margin-left: $list-margin;
  }
  .category {
    font-weight: bold;
  }
  .admissions-table {
    ul { margin-left: 0; padding: 0; }
    li { display: inline-block; }
  }
}


/* Responsive */

.responsive { display: none; }


@media only screen and(max-width: 574px)  {
  header { position: relative; }

  .too-small  { display: inherit; }
  .too-small.inline  { display: inline; }

  .container .course .column, 
  .container .course .columns { width: auto; clear: both; }
  
  .container .course .column.name, 
  .container .course .columns.name { font-weight: bold; }

  .container .course .column.days,
  .container .course .columns.days, { 
    clear: left;
    &:after { content: " |\00a0"; }
  }

  .container .course .column.time,
  .container .course .columns.time, {
    clear: none; 
    &:after { content: " |\00a0"; }
  }

  .container .course .column.room,
  .container .course .columns.room, { clear: right; }

  .container .course .column.course-no,
  .container .course .columns.course-no {
    &:before { content: attr(data-title) ": "; }
  }

  .container .course .column.call-no,
  .container .course .columns.call-no, { 
    &:before { content: attr(data-title) ": "; }
  }
  
  .row {
    max-height: none; height: auto;
    li { max-height: none; height: auto;}
    .description { max-height: none; height: auto;}
  }
  
  .description {
    .read-more { display: none; }
    .close-more { display: none; }
  }

  .course-schedule-table, .admissions-table {
    font-size: $base-font-size;
    li {
      padding: rhythm() 0;
      border-bottom: 1px solid $light-blue;
    }
  }

  .admissions-wrapper {
    ul, ol {
      margin: 0;
    }
  }

  .more {
    position: fixed;
    bottom: rhythm(2);
    right: 0;
    background-color: #444;
    border-left: 1px solid #333;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;

    a { color: $link-white; &:hover { color: $very-light-grey; } }
    .show-menu { display: inline; }
    .show-more { display: hidden; }
  }

}

@media only screen and (min-width: 574px) and (max-width: 959px) {
  
  header { position: relative; }
  .menu {
    .menu-nav-list {
      a {
         padding-left: 0em;
         padding-right: 1em;
      }
    }
  }
  
  .just-right { display: inherit; }
  .just-right.inline { display: inline; }

  .admissions-table {
    .headings { 
      border-top: 1px solid $dark;
      border-bottom: 1px solid $dark;
      margin-top: -2px; /* offset from borders */
      margin-bottom: 0;
      font-weight: bold; 
      display: inline-block;
      padding: 0;
    }
  }

  .show-menu { display: hidden; }
  .show-more { display: inline; }

  .events-wrapper {
    float: none;
  }
  
  .container {
    padding: 0 15px;
  }
  .container .course, .container .row {
    clear: both; 
    float: left;
  }
  .container .course .column, 
  .container .course .columns { width: auto; font-size: $h5-font-size; margin-left: 0px; min-width: 574px;}
  
  .container .course .column.name, 
  .container .course .columns.name { clear: both; font-weight: bold;}
  
  .container .course .column.instructor,
  .container .course .columns.instructor, { clear: both; margin-left: 0;}

  .container .course .column.days,
  .container .course .columns.days, { clear: both; margin-left: 0px;}
    
  .container .course .column.time,
  .container .course .columns.time, {
    clear: both; 
  }
  .container .course .column.description,
  .container .course .columns.description, {
    clear: both; 
    font-size: $h6-font-size;
  }

  .container .course .column.room,
  .container .course .columns.room, { clear: both; font-size: $h6-font-size; }

  .container .course .column.course-no,
  .container .course .columns.course-no {
    clear: both;
    &:before { content: attr(data-title) ": "; }
  }

  .container .course .column.call-no,
  .container .course .columns.call-no, { 
    clear: both;
    &:before { content: attr(data-title) ": "; }
  }
  .course-schedule-table {
    li {
      .description { 
        .read-more { display: none; }
        .close-more { display: none; }
      }
    }
  }
}

@media only screen and (min-width: 959px) {
  header { 
    position: fixed;
    -moz-box-shadow:     0px 0px 3px 2px $very-light-grey;
    -webkit-box-shadow:  0px 0px 3px 2px $very-light-grey; 
    box-shadow:          0px 0px 3px 2px $very-light-grey;
  }
  .content { padding-top: 6em; }

  .too-big    { display: inherit; }
  .too-big.inline    { display: inline; }

  .course-schedule-table, .admissions-table {
    .headings { 
      border-top: 1px solid $dark;
      border-bottom: 1px solid $dark;
      margin-top: -2px; /* offset from borders */
      margin-bottom: 0;
      font-weight: bold; 
      display: inline-block;
      padding: 0;
    }
  }

  .course-schedule-table {
    li {
      &:hover { background-color: $very-light-grey; };
    }
  }
}

