
$debug: false;

@import "Rhythm";
@import "CSS";
@import "Layout";
@import "Variables";

/****** should later be integrated into this file *****/
@import "EventStyles";
@import "NewsStyles";
/******************************************************/

body {
  line-height: rhythm();
  @include debug-rhythm();
}

$h1-font-size : 1.5 * $base-font-size;
$h2-font-size : 1.25 * $base-font-size;
$h3-font-size : 1 * $base-font-size;
$h4-font-size : 0.9 * $base-font-size;
$h5-font-size : 0.8 * $base-font-size;
$h6-font-size : 0.7 * $base-font-size;

$tiny-font-size: 0.5 * $base-font-size;


h1 {
  @include v-margin(rhythm(1, $h1-font-size));
  font-size: $h1-font-size;
}
h2 {
  @include v-margin(rhythm(1, $h2-font-size));
  font-size: $h2-font-size;
}
h3 {
  @include v-margin(rhythm(1, $h3-font-size));
  font-size: $h3-font-size;
}
h4 {
  @include v-margin(rhythm(1, $h4-font-size));
  font-size: $h4-font-size;
}
h5 {
  @include v-margin(rhythm(1, $h5-font-size));
  font-size: $h5-font-size;
}
h6 {
  @include v-margin(rhythm(1, $h6-font-size));
  font-size: $h6-font-size;
}

h1, h2, h3 {
  @include v-margin(rhythm);
}

h3.inline {
  display: run-in;
  font-size: 1em;

  // '&' names parent selector
  &:after {
    content: ". ";
    font-weight: normal;
  }
}

p {
  @include v-margin(rhythm());
}

ul, ol, dl {
  @include v-margin(rhythm());
  padding-left: 0;
}

a {
  color: rgb(62, 121, 238);
  font-weight: bold;
  text-decoration: none;
  padding: 0 3px;

  &:hover {
    color: rgb(32, 83, 185);
    text-decoration: none;
  }
}


/************************************/

.down-arrow { font-size: $tiny-font-size; }


.inline { display: inline; }

/************************************/

/* $main-nav-height: 100px; */


header, footer {
  width: 100%;
  background-color: transparent;

  ul { margin: 0; }
  ul li { 
    display: inline;
    @include v-margin(rhythm());
  }
}

footer {
  border-top: 1px solid #efefef;
  margin-top: -1px; /* to offset border-top */
  height: rhythm(6);
  ul { float: right; }
  ul li {
    &:after {
      color: $footer-grey;
      content: " \00b7 ";
    }
    &:last-child:after { content: ""; }
    &:last-child:before { content: " "; }
  }
  a { 
    font-weight: normal;
    color: $footer-grey;
    &:hover {
      color: $footer-grey-hover;
    }
  }

  /* Had to add this to clear .event-wrapper. Remove with caution */
  clear: both;
}

.menu {
  height: rhythm(3);

  .logo-wrapper {
    width: 140px;
    background-color: red;
    height: 100%;
    float: left;
  }

  .menu-nav-list { 
    float: right;

    a { 
      float: left;
      padding: rhythm();
    }
  }
}

.menu-nav-list li { display: none; }

.submenu {
  height: rhythm();
  margin-top: -2px; /* to offset the border effect */
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;

  nav { float: left; }
}




@media only screen and (max-width: 519px) {
  .too-small  { display: inherit; }
  .too-small.inline  { display: inline; }



}


@media only screen and (min-width: 520px) and (max-width: 799px) {
  .just-right { display: inherit; }
  .just-right.inline { display: inline; }



}


@media only screen and (min-width: 800px) {
  .too-big    { display: inherit; }
  .too-big.inline    { display: inline; }


}

