.container {
  max-width: 960px;
  margin: 0 auto; }

/****** should later be integrated into this file *****/
.events-wrapper {
  background-color: #e1e1ff;
  padding-left: 1em;
  padding-right: 1em;
  float: right;
  font-size: 12px;
  text-align: center; }
  .events-wrapper dl {
    max-width: 20em; }
  .events-wrapper dt {
    text-align: right;
    margin-top: 2em;
    margin-bottom: 0; }
  .events-wrapper dd {
    margin-top: 0em;
    margin-bottom: 0;
    font-size: 12px;
    text-align: right;
    margin-left: 0;
    max-width: 20em; }
  .events-wrapper ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none; }

/******************************************************/
body {
  line-height: 1.5em;
  background-image: url("debug/rhythm24.gif"); }

h1 {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 24px; }

h2 {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  font-size: 20px; }

h3 {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 16px; }

h4 {
  margin-top: 1.66667em;
  margin-bottom: 1.66667em;
  font-size: 14.4px; }

h5 {
  margin-top: 1.875em;
  margin-bottom: 1.875em;
  font-size: 12.8px; }

h6 {
  margin-top: 2.14286em;
  margin-bottom: 2.14286em;
  font-size: 11.2px; }

h1, h2, h3 {
  margin-top: rhythm;
  margin-bottom: rhythm; }

h3.inline {
  display: run-in;
  font-size: 1em; }
  h3.inline:after {
    content: ". ";
    font-weight: normal; }

p {
  margin-top: 1.5em;
  margin-bottom: 1.5em; }

ul, ol, dl {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding-left: 0; }

/************************************/
.down-arrow {
  font-size: 8px; }

/************************************/
/* $main-nav-height: 100px; */
header, footer {
  width: 100%;
  background-color: #ccc; }
  header ul, footer ul {
    margin: 0; }
  header ul li, footer ul li {
    display: inline;
    margin-top: 1.5em;
    margin-bottom: 1.5em; }

footer {
  height: 9em;
  /* Had to add this to clear .event-wrapper. Remove with caution */
  clear: both; }

.menu {
  height: 4.5em;
  background-color: blue; }
  .menu nav {
    float: right; }

.submenu {
  height: 3em;
  background-color: orange; }
  .submenu nav {
    float: left; }
