body {
  line-height: 1.5em;
}

h1 {
  margin-bottom: 1em;
  font-size: 24px;
}

h2 {
  margin-bottom: 1.2em;
  font-size: 20px;
}

h1, h2, h3 {
  margin-bottom: rhythm;
}

h3.inline {
  display: run-in;
  font-size: 1em;
}
h3.inline:after {
  content: ". ";
  font-weight: normal;
}

p {
  margin-bottom: 1.5em;
}

ul, ol, dl {
  margin-bottom: 1.5em;
}

header {
  width: 100%;
  height: 20px;
  background-color: red;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
