
$debug: true;

@import "Rhythm";
@import "CSS";
@import "Variables";

body {
  line-height: rhythm();
  @include debug-rhythm();
}

$h1-font-size : 1.5 * $base-font-size;
$h2-font-size : 1.25 * $base-font-size;
$h3-font-size : 1 * $base-font-size;

h1 {
  @include v-margin(rhythm(1, $h1-font-size));
  font-size: $h1-font-size;
}

h2 {
  @include v-margin(rhythm(1, $h2-font-size));
  font-size: $h2-font-size;
}

h3 {
  @include v-margin(rhythm(1, $h3-font-size));
  font-size: $h3-font-size;
}

h1, h2, h3 {
  @include v-margin(rhythm);
}

h3.inline {
  display: run-in;
  font-size: 1em;

  // '&' names parent selector
  &:after {
    content: ". ";
    font-weight: normal;
  }
}

p {
  @include v-margin(rhythm());
}

ul, ol, dl {
  @include v-margin(rhythm());
  padding-left: 0;
}



/************************************/


/************************************/

/* $main-nav-height: 100px; */


header, footer {
  width: 100%;
  background-color: #ccc;

  ul { margin: 0; }
  ul li { 
      display: inline;
      @include v-margin(rhythm());
  }

}

.menu {
  height: rhythm(3);
  background-color: blue;

  nav { float: right; }
}

.submenu {
  height: rhythm(2);
  background-color: orange;

  nav { float: left; }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

