<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <link rel="stylesheet" href="../css/normalize.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/skeleton.css">
        <link rel="stylesheet" href="../css/Presentation.css">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
      <!--[if lt IE 7]>
          <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
      <![endif]-->

      <div class="all">
        <header class="header">
          <div class="container">
            <div class="menu">
              <div class="logo-wrapper">
              </div>

              <nav class="menu-nav">
                <ul class="menu-nav-list">
                  <li class="too-big just-right inline"><a href="">Academics</a></li>
                  <li class="too-big just-right inline"><a href="">Admissions</a></li>
                  <li class="too-big inline"><a href="">People</a></li>
                  <li class="too-big inline"><a href="">Research</a></li>
                  <li class="too-big inline"><a href="">News &amp; Events</a></li>
                  <li class="too-small just-right inline more"><a class="responsive show-more" href="">More<span class="down-arrow">&#x25BC;</span></a><a class="responsive show-menu" href="">Menu</a>
                    <ul class="dropdown">
                      <li class="too-small "><a href="">Admissions</a></li>
                      <li class="too-small just-right"><a href="">People</a></li>
                      <li class="too-small just-right "><a href="">Research</a></li>
                      <li class="too-small just-right "><a href="">News &amp; Events</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
          </div><!-- .container -->

        </header>
        
        <div class="content">
          <div class="container">

            <div class="row">
              <div class="twelve columns">

		<!-- MAIN CONTENT GOES HERE -->
		<h1>Twelve columns (h1)</h1>
		<h2>Twelve columns (h2)</h2>
		<p>Twelve columns (p)</p>

              </div><!-- .twelve columns -->

              <div class="four columns nofloat">
		
		<!-- SIDEBAR CONTENT GOES HERE -->
		<h1>Four columns (h1)</h1>
		<h2>Four columns (h1)</h2>
		<p>Four columns (p)</p>

              </div><!-- .four columns nofloat -->

            </div><!-- .row -->
          </div><!-- .container -->
        </div>  

        <footer class="footer">
          <div class="container">
            <nav>
              <ul>
                <li><a href="">About NYU CS</a></li>
                <li><a href="">Jobs</a></li>
                <li><a href="">Student Organizations</a></li>
                <li><a href="">Resources</a>
                <li><a href="">Contact</a></li>
              </ul>
            </nav> 
          </div> 
        </footer> 
      </div>

      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
      <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.0.min.js"><\/script>')</script>
      <script src="js/plugins.js"></script>
      <script src="js/main.js"></script>

      <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
      <script>
          var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
          (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
          g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
          s.parentNode.insertBefore(g,s)}(document,'script'));
      </script>
    </body>
</html>
